# # apt-get update
# # apt-get install -y emacs mlocate wget git curl gcc g++ make unzip
# # wget https://repo.anaconda.com/archive/Anaconda3-2022.10-Linux-x86_64.sh
# # bash Anaconda3-2022.10-Linux-x86_64.sh

# At least 14.38 is required by onnxruntime
msvc-runtime>=14.38; sys_platform=='win32'
uvicorn==0.85.2
pyOpenSSL==25.1.0
numpy==1.26.4 # Not all modules have migrated to NumPy 2 yet. Using latest NumPy 1 version
python-socketio==5.16.3
fastapi==0.137.1
python-multipart==0.0.32
scipy==1.17.1
librosa==0.11.0
sounddevice==0.5.5
python-dotenv==1.2.2
pydantic-settings==2.14.1
xxhash==3.7.0
aiohttp==3.14.1
certifi==2026.5.20
msgspec==0.21.1
pedalboard==0.9.23
uuid6==2025.0.1
